{% extends "front/base.html.twig" %}

{% block title %}{% trans %}REAL ESTATE CREATE{% endtrans %}{% endblock %}

{% block content_title %}{% trans %}REAL ESTATE CREATE{% endtrans %}{% endblock %}

{% block content %}
    <div class="pure-g seller-subscribing">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            <div class="seller-form">
                {{ form_start(form) }}
                <fieldset>
                    {{ form_widget(form.realestate) }}
                    {{ form_widget(form.user) }}
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet-geosearch@3.4.0/dist/geosearch.css"
        />
    <link rel="stylesheet" href="{{ asset('pixabay/auto-complete.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet-geosearch@3.4.0/dist/geosearch.umd.js"></script>  
    <script src="{{ asset('pixabay/auto-complete.min.js') }}"></script>  
    <script>
        const provider = new GeoSearch.GeoApiFrProvider()

        new autoComplete({
            minChars: 5,
            delay: 500,
            selector: '#form_realestate_address',
            source: function (term, response) {
                provider.search({query: term}).then(function (data) {
                    console.log(data)
                    response(data)
                })
            },
            renderItem: function (item, search) {
                var found = item.raw.properties
                search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&')
                var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi")
                return '<div class="autocomplete-suggestion" data-val="' + found.name
                        + '" data-long="' + item.x + '" data-lat="' + item.y
                        + '" data-cp="' + found.postcode + '" data-city="' + found.city + '">'
                        + item.label.replace(re, "<b>$1</b>")
                        + '</div>'
            },
            onSelect: function (e, term, item) {
                var found = item.dataset
                document.getElementById('form_realestate_postalcode').value = found.cp
                document.getElementById('form_realestate_city').value = found.city
                document.getElementById('form_realestate_latitude').value = found.lat
                document.getElementById('form_realestate_longitude').value = found.long
            }
        })
    </script>
{% endblock %}
