{% extends "front/base.html.twig" %}

{% block title %}{% trans %}REAL ESTATE CREATE{% endtrans %}{% endblock %}

{% block content_title %}{% trans %}REAL ESTATE CREATE{% endtrans %}{% endblock %}

{% block content %}
    <div class="pure-g seller-subscribing">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            <div class="seller-form">
                {{ form_start(form) }}
                <fieldset>
                    {{ form_widget(form.realestate) }}
                    {{ form_widget(form.user) }}
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet-geosearch@3.4.0/dist/geosearch.css"
        />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet-geosearch@3.4.0/dist/geosearch.umd.js"></script>  
    <script>
        const provider = new GeoSearch.GeoApiFrProvider()

        document.getElementById('form_realestate_address').onkeyup = function (e) {
            console.log(e.target.value)
            provider.search({query: e.target.value}).then(function (data) {
                console.log(data)
            })
        }
    </script>
{% endblock %}
