{% extends "base.html.twig" %}
{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}?{{ random(456789) }}">
    <link rel="stylesheet" href="{{ asset('fontello/css/fontello.css') }}?{{ random(456789) }}">
{% endblock %}

{% block title %}{% trans %}LANDING TITLE{% endtrans %}{% endblock %}

{% block body %}
    <header class="pure-g">
        <div class="pure-u-1-5">
            <img src="{{ asset('img/logo.jpg') }}" class="pure-img"/>
        </div>
        <div class="pure-u-1-2">
            <h1>{% trans %}SLOGAN IMMO{% endtrans %}</h1>
        </div>
        <div class="pure-u-1-4">
            {{ include('front/widget/social_network.html.twig') }}
        </div>
    </header>
    <nav class="pure-g icon-particulier">
        <div class="pure-u-1-6"><img src="{{ asset('img/maison.svg') }}"/></div>
        <div class="pure-u-1-6"><img src="{{ asset('img/clefs.svg') }}"/></div>
        <div class="pure-u-1-6"><img src="{{ asset('img/cochon.svg') }}"/></div>
        <div class="pure-u-1-6"><img src="{{ asset('img/location.svg') }}"/></div>
        <div class="pure-u-1-6"><img src="{{ asset('img/liveyourdream.svg') }}"/></div>
        <div class="pure-u-1-6"><img src="{{ asset('img/laptop.svg') }}"/></div>
    </nav>
    <nav class="pure-g menu-particulier">
        <div class="pure-u-1-6"><h2><a href="{{ path('app_front_index') }}" class="color0">Accueil</a></h2></div>
        <div class="pure-u-1-6"><h2 class="impact"><a href="{{ path('app_buy_listing') }}" class="color1">acheter</a></h2></div>
        <div class="pure-u-1-6"><h2 class="impact"><a href="{{ path('app_sell_create') }}" class="color2">vendre</a></h2></div>
        <div class="pure-u-1-6"><h2 class="impact color3">location</h2></div>
        <div class="pure-u-1-6"><h2>Rejoignez-nous</h2></div>
        <div class="pure-u-1-6"><h2><a href="{{ path('app_login') }}" class="color0">Mon compte</a></h2></div>
    </nav>
    <header class="content-header">{% block content_title %}{% endblock %}</header>
    {% block content %}{% endblock %}
{% endblock %}