{% extends "front/base.html.twig" %}
{% block title %}{{ immo.title }}{% endblock %}

{% block content_title %}{{ immo|catchline }}{% endblock %}

{% block content %}
    <article class="pure-g realestate">
        <div class="pure-u-1-5">
            <figure>
                <img class="pure-img endmargin" src="/upload/placeholder.jpg"/>
            </figure>
            <figcaption>
                <p>{{ immo.description }}</p>
                <ul class="tags">
                    {% for tag in immo.tag %}
                        <li style="color: hsl({{ crc_hue(tag) }}, 70%, 25%); background-color: hsl({{ crc_hue(tag) }}, 70%, 85%)">
                            {{ tag }}
                        </li>
                    {% endfor %}
                </ul>   
            </figcaption>
        </div>
        <div class="pure-u-4-5">
            <figure>
                <div id="equirectangular-visit" style="height: 700px"></div>
            </figure>
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/three.min.js') }}"></script>
    <script src="{{ asset('js/panolens.min.js') }}"></script>
    <script>
        var container = document.querySelector('#equirectangular-visit')
        const panorama = new PANOLENS.ImagePanorama('/upload/equirectangular.jpg');
        const viewer = new PANOLENS.Viewer({container: container});
        viewer.add(panorama)
    </script>
{% endblock %}