{% extends "front/base.html.twig" %}
{% block title %}{% trans %}SEARCH RESULT TITLE{% endtrans %}{% endblock %}

{% block content %}
    <section class="listing">
        <header>{% trans %}SEARCH RESULT{% endtrans %}</header>
            {% for immo in result %}
            <article class="pure-g realestate">
                <div class="pure-u-1-8">
                    <figure>
                        <img class="pure-img endmargin" src="https://placekitten.com/g/1000/1000"/>
                    </figure>
                </div>
                <div class="pure-u-3-4">
                    <figcaption>
                        <h3>{{ immo.title }}</h3>
                        <p>{{ immo.description }}</p>
                        <nav class="pure-g navbar">
                            <div class="pure-u-1-3">{% trans %}COMMENT VIEW{% endtrans %} (0)</div>
                            <div class="pure-u-1-3">{% trans %}VIRTUAL VISIT{% endtrans %}</div>
                            <div class="pure-u-1-3">{% trans %}WATCH ON MAP{% endtrans %}</div>
                        </nav>
                        <ul class="tags">
                            {% for tag in immo.tag %}
                                <li style="color: hsl({{ crc_hue(tag) }}, 70%, 25%); background-color: hsl({{ crc_hue(tag) }}, 70%, 85%)">
                                    {{ tag }}
                                </li>
                            {% endfor %}
                        </ul>
                    </figcaption>
                </div>
                <div class="pure-u-1-8">
                    <nav class="actions">
                        <h3>{{ immo.price|format_currency(immo.currency, locale='fr', attrs={fraction_digit: 0}) }}</h3>
                        <a href="#"><img src="{{ asset('img/arrowright.svg') }}"/><br/>
                            {% trans %}RDV SETTING{% endtrans %}</a>
                    </nav>
                </div>
            </article>
        {% endfor %}
        <footer></footer>
    </section>
{% endblock %}