{% extends "front/base.html.twig" %}
{% block title %}{{ immo|catchline }} - {% trans %}SLOGAN IMMO{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('pannellum/pannellum.css') }}">
{% endblock %}

{% block content_title %}{{ immo|catchline }}{% endblock %}

{% block content %}
    <article class="pure-g realestate">
        <div class="pure-u-1-5">
            <figure>
                <img class="pure-img endmargin" src="/upload/placeholder.jpg"/>
            </figure>
            {% include 'front/widget/realestate_navicon.html.twig' %}
            <figcaption>
                <p>{{ immo.description }}</p>
                <ul class="tags">
                    {% for tag in immo.tag %}
                        <li style="color: hsl({{ crc_hue(tag) }}, 70%, 25%); background-color: hsl({{ crc_hue(tag) }}, 70%, 85%)">
                            {{ tag }}
                        </li>
                    {% endfor %}
                </ul>   
            </figcaption>
        </div>
        <div class="pure-u-4-5">
            <figure>
                <div id="equirectangular-visit" style="height: 700px"></div>
            </figure>
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('pannellum/pannellum.js') }}"></script>
    <script>
        pannellum.viewer('equirectangular-visit', {
            default: {
                "firstScene": "pano1",
                "sceneFadeDuration": 1000,
                "autoLoad": true
            },
            scenes: {
                pano1: {
                    title: "Salle de bains",
                    "type": "equirectangular",
                    "panorama": "{{ asset('upload/pano1.jpg') }}",
                    hotSpots: [
                        {
                            "pitch": 0,
                            "yaw": 0,
                            "type": "scene",
                            "text": "Salle à manger",
                            "sceneId": "pano2"
                        },
                        {
                            "pitch": 0,
                            "yaw": 180,
                            "type": "scene",
                            "text": "Salon",
                            "sceneId": "pano3"
                        }
                    ]
                },
                pano2: {
                    title: "Salle à manger",
                    "type": "equirectangular",
                    "panorama": "{{ asset('upload/pano2.jpg') }}"
                },
                pano3: {
                    title: "Salon",
                    "type": "equirectangular",
                    "panorama": "{{ asset('upload/pano3.jpg') }}"
                }
            }
        });
    </script>
{% endblock %}