{% extends "front/base.html.twig" %}
{% block title %}{{ immo|catchline }} - {% trans %}SLOGAN IMMO{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('css/pannellum.css') }}">
{% endblock %}

{% block content_title %}{{ immo|catchline }}{% endblock %}

{% block content %}
    <article class="pure-g realestate">
        <div class="pure-u-1-5">
            <figure>
                <img class="pure-img endmargin" src="/upload/placeholder.jpg"/>
            </figure>
            <figcaption>
                <p>{{ immo.description }}</p>
                <ul class="tags">
                    {% for tag in immo.tag %}
                        <li style="color: hsl({{ crc_hue(tag) }}, 70%, 25%); background-color: hsl({{ crc_hue(tag) }}, 70%, 85%)">
                            {{ tag }}
                        </li>
                    {% endfor %}
                </ul>   
            </figcaption>
        </div>
        <div class="pure-u-4-5">
            <figure>
                <div id="equirectangular-visit" style="height: 700px"></div>
            </figure>
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pannellum.js') }}"></script>
    <script>
        pannellum.viewer('equirectangular-visit', {
            "type": "equirectangular",
            "panorama": "{{ asset('upload/equirectangular.jpg') }}",
            "autoLoad": true
        });
    </script>
{% endblock %}