{% extends "front/base.html.twig" %}
{% block title %}{% trans %}UNAFFECTED REAL ESTATE{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
{% endblock %}

{% block content_title %}{% trans %}UNAFFECTED REAL ESTATE{% endtrans %} {{ city|capitalize }}{% endblock %}

{% block content %}
    <section class="listing">
        <script>
            var dataPopup = [];
        </script>
        <div id="listing-map"></div>
        {% for idx, immo in result %}
            <article class="pure-g realestate">
                <div class="pure-u-1-8">
                    {{ immo.category }}
                </div>
                <div class="pure-u-3-4">
                    {{ immo.address }}<br/>
                    {{ immo.postalCode }} {{ immo.city }}
                </div>
                <div class="pure-u-1-8">
                    action
                </div>
            </article>
            <script>
                dataPopup.push({
                    title: '{{ immo.address|e('js') }}<br/>{{ immo.postalCode|e('js') }} {{ immo.city|e('js') }}',
                    coord: [{{ immo.latitude }}, {{ immo.longitude }}],
                });
            </script>
        {% endfor %}
        <footer></footer>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>    
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script>
                // initialising the leaflet map
                var map = L.map('listing-map', {fullscreenControl: true})
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map)

                // scanning the real estate data for marker and adding external control (openPopup)
                for (var idx = 0; idx < dataPopup.length; idx++) {
                    var immo = dataPopup[idx]
                    // adding the leaflet marker 
                    L.marker(immo.coord)
                            .addTo(map)
                            .bindPopup(immo.title)
                }

                // reisize de leaflet map to fit the real estate markers
                map.fitBounds({{ result.boundaries|json_encode() }})
    </script>
{% endblock %}